@model WitnessBook.GUI.Models.EventModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_index.cshtml";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<!-- Wrap -->
<div id="wrap">

    <!-- Header -->
    <header id="header" class="header">
        <div class="container">

            <!-- Logo -->
            <div class="logo float-left">
                <a href="@Url.Content("~/Views/Shared/")_index.cshtml" title=""><img src="@Url.Content("~/Content/")images/logo-header.png" alt=""></a>
            </div>
            <!-- End Logo -->
            <!-- Bars -->
            <div class="bars" id="bars"></div>
            <!-- End Bars -->
            <!--Navigation-->
            <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                <div class="nav-inner">
                    <a href="#" class="bars-close" id="bars-close">Close</a>
                    <div class="tb">
                        <div class="tb-cell">
                            <ul class="menu-list text-uppercase">
                                <li>
                                    <a href="@Url.Content("~/Home/Index/")" title="">Home</a>

                                </li>

                                <li>
                                    <a href="@Url.Content("~/WitnessCard/Manage/")" title="">Witness Card</a>

                                </li>

                                <li class="current-menu-parent">
                                    <a href="@Url.Content("~/Events/Index")" title="">Events</a>

                                </li>


                                <li>
                                    <a href="@Url.Content("~/Home/About")" title="">About</a>

                                </li>
                                <li>
                                    <a href="@Url.Content("~/Home/Contact")" title="">Contact</a>

                                </li>

                                <li>
                                    <a href="#" title="">Profile</a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!--End Navigation-->
        </div>
    </header>
    <!-- End Header -->
</div>
<!--Banner-->
<section class="banner">

    <!--Background-->
    <div class="bg-parallax bg-1"></div>
    <!--End Background-->

    <div class="container">

        <div class="logo-banner text-center">
            <a href="" title="">
                <img src="@Url.Content("~/Content/")images/logo-banner.png" alt="">
            </a>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>EventModel</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.nameEvent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nameEvent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nameEvent, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.lieux.pays, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.lieux.pays, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.lieux.pays, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.lieux.ville, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.lieux.ville, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.lieux.ville, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.lieux.rue, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.lieux.rue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.lieux.rue, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dateDebutEvent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.dateDebutEvent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dateDebutEvent, "", new { @class = "text-danger" })*@
                        <input type="datetime-local" name="dateDebutEvent">
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dateFinEvent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.dateFinEvent, new { htmlAttributes = new { @class = "form-control" } })*@
                        @*@Html.ValidationMessageFor(model => model.dateFinEvent, "", new { @class = "text-danger" })*@
                        <input type="datetime-local" name="dateFinEvent">
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TypeEvent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TypeEvent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TypeEvent, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

      
    </div>
    
</section>
